*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.right-section{
    display: flex;
   }

.logo img{
    width: 100px;
  
}

.right-section ul{
    list-style: none;
    display: flex;
}

.right-section ul li{
    margin-right: 20px;
}

.right-section ul li a{
    text-decoration: none;
    color: black;
}
.icon img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.road-assistance{
    display: flex;
    padding-left: 20px;
}

.right-section .navigation{
    border-right: 2px solid grey;
}

/* hero-section */

#hero-section{
    padding: 80Px 0px;
}
.flex{
    display: flex;
}

#hero-section .text-section{
    width: 45%;
}


#hero-section .image-section{
    width: 55%;
}

#hero-section .image-section{
    background-image: url(../img/Header\ Image.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.text-section h1{
    font-size: 64px;
}

.orange-button{
    background: #ff6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    color: #ffff;
    margin-top: 25px;
    display: inline-block;
}

.time-section{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.time-section img{
    width: 100%;
}

.text-section  .clock-box{
    width: 7%;
    margin-right: 10px;
}

.text-section .working-hour{
    width: 95%;
}

.open{
    color: #939191;
    font-size: 18px;
}

/* quote-section */

#quote-section{
    padding: 80px 0px;
    background: #E2E6E9;
    min-height: 100vh;
}

#quote-section .left-point, #quote-section .right-point{
    width: 50%;
}

#quote-section ul{
    list-style: none;
}

#quote-section ul li{
    margin-bottom: 20px;
}

#quote-section .left-point h2{
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-point .image-box img{
    width: 100%;
}

#quote-section .left-point .image-box{
    width: 5%;
    margin-right: 10px;
}

#quote-section .left-point .text-box{
    width: 60%;
}

#quote-section .left-point .text-box a{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
}

#quote-section .left-point .text-box a p{
    margin-right: 10px;
}
#quote-section .left-point .text-box h5{
    font-size: 24px;
    margin-bottom: 5px;
}

#quote-section .right-point h3{
    font-size: 45px;
    margin-bottom: 20px;
}

#quote-section .right-point input[type="text"]{
    padding: 15px;
    width: 100%;
    margin-bottom: 2px;
    border: 0px;
    outline: none;
}


/* help-section */

#help-section{
    padding: 80px 0px;
    /* min-height: 100vh; */
}

#help-section .left-part{
    width: 55%;
    padding: 10px;
    align-content: center;
    padding: 5%;
}

#help-section .left-part h2{
    font-size: 45px;
    margin-bottom: 5px;
    font-weight: 700 bold;
    font-size: 56px;
}

#help-section .left-part p{
    font-size: 16px;
    font-weight: 600;
    color: #1e1b1b;
    opacity: 0.6;
    width: 80%;
}

#help-section .right-part{
width: 40%;
}

#help-section .right-part h2{
    background: #661CE7;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    color: #fff;
   margin-right: 15px;
   text-align: center;
   padding: 5px 5px;

}

#help-section .right-part img{
    padding: 18px;
    height: 15vh;
    /* width: 20px;
    text-align: center; */
}

#help-section .right-part h3{
    font-size: 28px;
    font-weight: 700 bold;
    font-family: manrope;
    padding-top: 8px;
}
#help-section .right-part .get-one{
    width: 20%;
    /* text-align: center;
    justify-content: center; */
}

#help-section .right-part .quote{
    width: 70%;
}

#help-section .right-part .quote p {
    font-size: 16px;
    font-weight: 600;
    color: #1e1b1b;
    opacity: 0.6;
    margin-top: 5px;
}

.justify-between{
    justify-content: space-between;
}


/* Service-section */

#service-section{
    padding: 80px 0px;
    background: #E2E6E9;
    min-height: 100vh;
}

.upper-section .offer{
    text-align: center;
    padding: 2% 31%;
}

.upper-section .offer h6{
    font-size: 18px;  
}

.upper-section .offer h2{
    font-size: 36px;
}

.lower-section .diagnostics{
    /* background-image: url(../img/Rectangle\ 15.png); */
    width: 200px;
    height: 130px;
    right: 600px;
    left: 1800px;
   background-color: #fff;
   text-align: center;
   padding-top: 30px;
   margin-right: 5px;
   margin-bottom: 5px;
}

#service-section .lower-section .diagnostics:hover{
    background-color: #ff6433;
    color: #fff;
    cursor: pointer;
}
/* .lower-section .Wheel-repair{
    width: 200px;
    height: 130px;
    right: 600px;
    left: 1800px;
   background-color: #ff6433;
   text-align: center;
   padding-top: 30px;
   margin-right: 5px;
   color: #fff;
} */

/* .lower-section .Wheel-repair img{
    width: 25px;
    height: 25px;   
} */

.lower-section .diagnostics img{
    width: 25px;
    height: 25px;
}

#service-section .lower-section{
   align-content: center;
   padding: 2% 10%;
}

#service-section .Third-section  a{
text-decoration: none;
color: #1e1b1b;
font-size: 18px;
justify-content: flex-end;
width: 80%;
 }

 #service-section .Third-section img{
     margin-left: 10px;
 }


 /* Query-section */

 .query-section{
     padding: 80px 0px;
     min-height: 100vh;
     background: #E2E6E9; 
 }

 .query-section .query-image{
    
 }


 .query-section img{
     width: 100%;
     height:30%;
     margin-bottom: 20px;
 }

 .query-section .query h2{
color: #661CE7;
font-size: 28px;
font-family: Manrope;
 }

 .query-section .query{
    text-align: center;
     margin-right: 20px;
     width: 100%;
    }


    /* Brand-section */
#brands {
    padding: 80px 0px;
    background: #fafafa;
    width: 100%;
    min-height: 100vh;
}

#brands .Title h3{
    text-align: center;
    font-size: 40px;
}

#brands .brands-logo{
    margin-left: 20px;
}


#brands .brands-logo img{
width: 80%;
margin-bottom: 20px;
}



/* commend-section */
#commend-section{
    padding: 80px 0px;
    background: #F2F2F2;
    min-height: 100vh;
}

#commend-section .top-commend h2{
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 52px;
    font-weight: 700;
    font-family: Manrope, sans-serif;
    margin-bottom: 60px;
}

#commend-section .down-commend{
    justify-content: space-between;
}

#commend-section .commend-image{
    width: 400px;
    height: 250px;
    background: #fff;
    border: 1px solid rgba(172, 172, 172, 0.29);
    border-radius: 5px;
    padding: 35px 35px;
   
}

#commend-section .commend-image .commend-quote{
    display: flex;
    /* justify-content: center; */
    margin-bottom: 20px;
    padding: 0px 15px;
}

#commend-section .commend-image .commend-quote img{
    margin-right: 15px;
}
#commend-section .commend-image .commend-quote h3{
font-size: 22px;
font-family: Manrope, sans-serif;
font-weight: 600;
margin-bottom: 10px;
}

#commend-section .commend-image .commend-quote h6{
    font-size: 16px;
    color: #1e1b1b;
    opacity: 0.6;
    font-family: Manrope, sans-serif;
}

#commend-section .commend-image p{
    /* text-align: center; */
   padding: 0px 15px;
   box-sizing: border-box;
   font-size: 16px;
   font-weight: 600;
   font-family: Manrope, sans-serif;
}

#commend-section ul li{
    list-style: none;
   color: #939191;
   font-size: 60px;
  height: 30px;
  margin-right: 10px;
}

#commend-section ul li:hover{
    color: #ff6433;
}

#commend-section .list{
    justify-content: center;
}

#question-section{
    padding: 80px 0px;
    background: #E2E6E9;
    min-height: 100vh;
}

#question-section .question-box{
    width: 80%;
padding-left: 90px;
}

#question-section .question-box h3{
    text-align: center;
    font-size: 24px;
    font-family: Manrope;
    font-weight: 700 Bold;
    margin-bottom: 40px;
}    

#question-section .repair-duration{
    width: 450px;
    height: 100px;
    background: #fff;
}

#question-section .duration-question{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    /* margin-bottom: 10px; */
}

#question-section .duration-question h5{
    font-size: 18px;
    font-weight: 600 Semi-bold;
    font-family: Manrope;
}

#question-section .duration-question p, #question-section .question-box .frequent-question p{
    color: #fff;
    background: #ff6433;
    font-size: 20px;
    font-weight: 600 Bold;
    width: 25px;
    text-align: center;
}

#question-section .repair-duration .repair-commend{
    font-size: 12px;
    font-family: Manrope;
    font-weight: 500 Medium;
    color: #939191;
    width: 80%;
    padding-left: 15px;
}

#question-section .question-box .frequent-question{
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 50px;
    background: #fff;
    margin-top: 10px;
    padding: 15px 15px;
}

#question-section .question-box .frequent-question h5{
    width: 60%;
    /* padding-left: 15px; */
}


/* contact section */
#contact-section{
    padding: 80px 0px;
    background: #1e1b1b ;
    opacity: 0.9;
}

#contact-section .contact-box{
    justify-content: space-between;
    width: 80%;
    padding: 0px 40px;
}

#contact-section .contact-box .left-contact h3{
    color: #fff;
    width: 70%;
    font-size: 36px;
    font-family: Manrope;
    font-weight: 700 Bold;
    margin-bottom: 40px;
} 

#contact-section .contact-box .left-contact .social-media img{
    width: 20px;
    margin-right: 20px;
}

#contact-section .contact-box .left-contact .social-media ul li{
    list-style: none;
}

#contact-section .right-contact p{
font-size: 10px;
font-family: Manrope;
font-weight: 600;
color: #ffffff;
opacity: 0.6;
margin-bottom: 10px;
}

#contact-section .right-contact h5{
    font-size: 16px;
    font-family: Manrope;
    font-weight: 600;
    color: #ffffff;
}

#contact-section .right-contact .reach-us{
    width: 100%;
    margin-bottom: 20px;
}

#lower-contact{
    padding: 80px 0px;
    background: #1e1b1b;
    padding: 20px 0px;
}

#lower-contact .footer img{
    background: #ffffff;
    color: #ffffff;
}

#lower-contact .footer .logo{
    padding-left: 40px;
    margin-right: 30%;
}

#lower-contact .footer ul li a, #lower-contact .footer .inner-contact{
    color: #ffffff;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 600;
}

#lower-contact .footer .inner-contact p{
    font-size: 12px;
    font-family: Manrope;
    font-weight: 600;
    color: #939191;
    margin-left: 50px;
}



/* mobile view */
@media(max-width:426px){
.main-header{
    flex-direction: column;
    align-items: flex-start;
    padding: none;
}

.right-section{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* display: none; */
}

.right-section .navigation ul{
    flex-direction: column;
}
.right-section .navigation{
    border: none;
    width: 100%;
}

.right-section ul li{
    padding: 10px 0px;
    margin-right: 0px;
}

.right-section ul li a{
    display: block;
}

.road-assistance{
    padding: 10px 0px;
}

#hero-section .flex{
    flex-direction: column;
}

.flex-sm-column{
    flex-direction: column;
}

#hero-section .text-section, #hero-section .image-section{
    width: 100%;
}

#hero-section .text-section{
    order: 2;
}

#hero-section .image-section{
    order: 1;
}

#hero-section .text-section h1{
    font-size: 38px;
}

#quote-section .flex{
    flex-direction: column;
}

#quote-section .left-point{
    margin-bottom: 20px;
    width: 100%;
}

#quote-section .right-point{
    width: 100%;
}

#quote-section .left-point .text-box{
    width: 100%;
}

#quote-section .left-point h2, #quote-section .right-point h3{
    font-size: 35px;
}

#quote-section .left-point .image-box{
    width: 10%;
}

#quote-section .left-point .text-box a{
    justify-content: flex-start;
}

#help-section .left-part, #help-section .right-part{
    width: 100%;
    padding: none;
}

#help-section .left-part{
    margin-bottom: 40px;
}


#help-section .left-part h2{
    font-size: 35px;
   width: 100% ; 
}

#help-section .left-part p{
    width: 100%;
}

#help-section .right-part h3{
    font-size: 20px;
    padding: 0px 0px;
}

#service-section .upper-section .offer{
    padding: 0px 0px;
    width: 100%;
    margin-bottom: 20px;
}

#service-section .upper-section .offer h2{
font-size: 28px;
width: 100%;
}

#service-section .lower-section{
    padding: none;
}

.lower-section .diagnostics{
    height: 150px;
    margin-right: 10px;
    width: 300px;
    padding: none;
    margin-bottom: 40px;
}

.lower-section .diagnostics:hover{
    color: #ff6433;
    cursor: pointer;
}

#service-section .Third-section h5{
    font-size: 22px;
}

#service-section .Third-section  .learn-arrow{
    margin-left: 10px;
}

.query-section img{
    width: 100%;
}
#brands .brands-logo .flex{
    flex-direction: column;
}

#brands .brands-logo img{
    width: 60%;
    padding-left: 40px;
}

#commend-section .top-commend h2{
    font-size: 36px;
    font-family: manrope;
    font-weight: 600;
}

#commend-section .down-commend{
    flex-direction: column;
}

#commend-section .down-commend .commend-image{
    margin-bottom: 20px;
    width: 350px;
}

#question-section .question-box{
    padding: 0px;
}

#question-section .repair-duration {
    width: 350px;
    height: 110px;
}

#question-section .question-box .frequent-question{
    width: 350px;
    height: 50px;
}

#question-section .question-box h3{
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}
#question-section .question-box .frequent-question h5{
    width: 80%;
}

#contact-section .contact-box{
    flex-direction: column;
}

#contact-section .contact-box .left-contact h3{
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

#contact-section .right-contact {
    margin-top: 40px;
}

#lower-contact .footer{
    flex-direction: column;
}

#lower-contact .footer .logo img{
    margin-bottom: 20px;
}

#lower-contact .footer .right-section .navigation{
    margin-bottom: 20px;
}

#lower-contact .footer .inner-contact p{
    margin-left: 0px;
}
}



/* Tablet view */
@media (max-width:769px){
    .container{
        width: 90%;
    }

.road-assistance{
    display: none;
}

.flex-tablet-column{
    flex-direction: column;
}

.text-section h1, #quote-section .left-point h2, #quote-section .right-point h3, #help-section .left-part h2{
    font-size: 38px;
}

#hero-section .image-section{
    height: 50vh;
}

#quote-section .left-point .image-box img{
  width: fit-content;
}

#help-section .right-part h3{
    font-size: 20px;
    padding-top: 0px;
}

.upper-section .offer{
    padding: 0px;
}

/* #brands .brands-logo .flex{
    flex-direction: column-reverse;
    width: 50%;
} */






#lower-contact .footer .logo{
    margin-bottom: 20px;
}

#lower-contact .footer{
    flex-direction: column;
}

#commend-section .top-commend h2{
    font-size: 45px;
}

#commend-section .commend-image{
    margin-right: 30px;
}


#commend-section .commend-image p{
    padding: 0px;
}

/* #question-section .question-box{
    padding-left: 50px;
} */
}